{% extends 'catalog/base.html' %}
{% block content %}
<div class="coll-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Сохранить
                            {% else  %}
                                Создать
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
