{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <a class="btn btn-btn btn-primary" href="{% url 'materials:create' %}">Добавить блог</a>
</div>

<div class="container">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top"
                 src="{{ object.preview_img|mymedia }}"
                 alt="Card image cap">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{object.title}}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- Cодержимое: {{object.body}}</li>
                    <li>- Дата изготовления: {{object.creation_date}}</li>
                </ul>
                <a href="{% url 'materials:view' object.pk %}" type="button" class="btn btn-lg btn-sm btn-outline-secondary">Подробнее</a>
                <a href="{% url 'materials:edit' object.pk %}" type="button" class="btn btn-lg btn-sm btn-outline-secondary">Изменить</a>
                <a href="{% url 'materials:delete' object.pk %}" type="button" class="btn btn-lg btn-sm btn-outline-danger">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}



