{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ object.title}}</h1>
    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
        <li>Заголовок: {{object.title}}</li>
        <li>Ссылка: {{object.slug}}</li>
        <li>Содержимое: {{object.body}}</li>
        <li>Дата изготовления: {{object.creation_date}}</li>
        <li>Опубликовано: {{object.is_published}}</li>
        <li>Просмотры: {{object.views}}</li>
    </ul>
</div>
{% endblock %}
