{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="conteiner">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Информация продукта
                    </h2>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Название: {{object.product_name|title }}</li>
                        <li>Цена: {{object.price}}</li>
                        <li>Категория: {{object.category}}</li>
                        <li>Описание: {{object.description}}</li>
                        <li>Владелец: {{object.owner|default:"Без владельца"}}</li>
                        <li>Дата изготовления: {{object.creation_date}}</li>
                    <a href="{% url 'catalog:home' %}" class="btn btn-warning">Назад</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Версия позиции
                    </h2>
                </div>
                <div class="card-body">
                    <ul>
                    {% for subject in versions %}
                        <li>{{ subject }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
